* {
    margin: 0;
    padding: 0;
}

.about {
    position: relative;
    display: flex;
    max-width: min(53.33vw, 1024px);
    max-height: 230px;
    margin-left: min(3.9vw, 75px);

    &__video {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        filter: brightness(50%);
    }

    &__wrap {
        margin-right: clamp(15px, 1.8vw, 35px);
    }

    &__title {
        margin-bottom: 11px;
        text-align: right;
        font-family: TTSquares, sans-serif;
        font-size: clamp(60px, 6.3vw, 122px);
        font-weight: 900;
        line-height: 100%;
        color: white;
    }

    &__text {
        max-width: min(26.82vw, 515px);
        margin-top: 14px;
        font-family: Play, sans-serif;
        font-size: min(1vw, 20px);
        font-weight: 400;
        line-height: 150%;
        color: white;
    }

    &__text_blue {
        margin-top: 0;
        color: #90FFFF;
        text-align: right;
    }

    &__text_purple {
        color: #8E0CD0;
    }
}
