@use 'sass:math';

.partners {
    margin-top: clamp(15px, min(3.3vw, 6vh), 65px);
    margin-left: calc(-1 * clamp(-50px, 6.25vw, 120px));
    position: relative;

    @include from(1921) {
        margin-top: clamp(15px, min(3.3vw, 6vh), 84px);
        margin-left: calc(-1 * clamp(-50px, 6.25vw, 160px));
    }

    @include to(768) {
        margin-top: 50px;
        margin-left: 0;
    }

    &__title {
        margin-left: min(2.86vw, 55px);
        font-family: TTSquares, sans-serif;
        font-size: min(min(3.12vw, 5.55vh), 60px);
        font-weight: 900;
        line-height: 100%;
        color: transparent;
        -webkit-text-stroke: 1px rgba(#FFFFFF, 1);

        @include from(1921) {
            margin-left: min(2.86vw, 73px);
            font-size: min(min(3.12vw, 5.55vh), 79px);
        }

        @include to(768) {
            text-align: center;
            margin-left: 0;
            font-size: clamp(42px, 14.49vw, 75px);
        }
    }

    &__list-wrapper {
        width: 100%;
        height: min(min(10.4vw, 18.51vh), 200px);
        box-sizing: border-box;
        margin-top: min(min(1.97vw, 3.51vh), 38px);
        margin-right: calc(-1 * min(5.2vw, 100px));
        padding: min(min(2.6vw, 4.62vh), 50px) 0 min(min(2.6vw, 4.62vh), 50px);
        border: 1px solid white;
        border-right: none;
        transform: skewX(-$skewX);
        transform-origin: bottom;

        @include from(1921) {
            height: min(min(10.4vw, 18.51vh), 266px);
            margin-top: min(min(1.97vw, 3.51vh), 50px);
            margin-right: calc(-1 * min(5.2vw, 133px));
            padding: min(min(2.6vw, 4.62vh), 66px) 0 min(min(2.6vw, 4.62vh), 66px);
        }

        @include to(768) {
            width: calc(100% + 15px);
            height: clamp(75px, 16.27vw, 125px);
            position: relative;
            margin-top: 50px;
            margin-right: 0;
            padding-block: 15px;
        }

        @include to(576) {
            margin-top: 35px;
        }

        @include to(450) {
            margin-top: 25px;
        }
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__swiper-wrapper {
        max-height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__img {
        width: auto !important;
        height: auto !important;
        max-width: 100%;
        max-height: 100%;
        min-height: min(2.3vw, 45px);
        padding-left: min(4vw, 38px);
        padding-right: 7px;
        transform: translateZ(0) skewX($skewX) !important;

        @include from(1921) {
            min-height: min(2.3vw, 85px);
            padding-left: min(4vw, 102px);
        }

        @include to(768) {
            max-width: 65vw;
            min-height: 40px;
            max-height: 90%;
            padding-left: 35px;
        }

        @include to(576) {
            padding-left: 25px;
        }
    }

    &__line {
        width: 120%;
        margin: min(min(2.03vw, 3.61vh), 39px) 0 min(1.56vw, 30px) calc(-1 * calc(min(2.03vw, 39px) * #{math.tan($skewX)}));
        border-top: 2px solid #FFFFFF;
        box-shadow: 0 0 54px #FFFFFF, 0 0 35px #A509B2, 0 0 15px #BF1CE8;

        @include from(1921) {
            margin: min(min(2.03vw, 3.61vh), 52px) 0 min(1.56vw, 39px) calc(-1 * calc(min(2.03vw, 52px) * #{math.tan($skewX)}));
        }

        @include to(768) {
            display: none;
        }
    }
}

.marquee {
    /*   overflow: hidden; */
}

.marquee-content {
    display: flex;
    animation: scrolling 10s linear infinite;
}

.marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
}

.marquee-item img {
    display: block;
    width: 100%;
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-144vw); }
}
