.partners {
    margin-top: 65px;
    margin-left: -120px;
    position: relative;

    &__title {
        font-family: TTSquares, sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 54px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(#FFFFFF, 1);
        margin-left: 55px;
    }

    &__list {
        margin-top: 38px;
        margin-right: -100px;
        padding: 50px 0 50px 78px;
        border: 1px solid white;
        display: flex;
        gap: 46px;
        align-items: center;
        transform: skewX(-$skewX);
    }

    &__list-item {

        transform: skewX($skewX);
        position: relative;
        z-index: 999;
    }

    &__line {
        margin: 38px 0 30px -60px;
        margin-top: 39px;
        border-top: 2px solid #FFFFFF;
        width: 120%;
        box-shadow: 0px 0px 54px #FFFFFF, 0px 0px 35px #A509B2, 0px 0px 15px #BF1CE8;
    }
}
