.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.32);
    top: 0;
    left: 0;
    display: none;
    z-index: 1001;

    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        border: 1px solid white;
        max-width: min(50vw, 960px);
        transform: skewX(-$skewX);
        padding: clamp(15px, 1.3vw, 20px) clamp(45px, 5.2vw, 100px) clamp(22px, 2.3vw, 44px) clamp(45px, 5.2vw, 100px);

        @include to(768) {
            max-width: none;
            width: 65%;
            padding: 20px 40px 25px 30px;
            transform: none;
        }

        @include to(576) {
            width: 80%;
            padding: 20px 20px 25px 20px;
        }

        @include to(450) {
            box-sizing: border-box;
            width: 90%;
        }
    }

    &__wrap {
        display: flex;
        justify-content: flex-end;
        position: relative;

        @include to(768) {
            margin-bottom: 15px;
        }
    }

    &__border {
        box-sizing: border-box;
        position: relative;
        right: calc(-1 * clamp(20px, 2.08vw, 40px));
        padding: 5px clamp(15px, 2.18vw, 42px);
        margin-left: auto;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.25s background-color, 0.25s border;

        @include to(991) {
            padding: 3px 16px;
        }

        @include to(768) {
            right: -15px;
            padding: 3px 15px;
        }

        @include to(576) {
            right: -5px;
        }

        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0 min(2.34vw, 45px) rgba(255, 255, 255, 0.23), 0 0 min(1.82vw, 35px) rgba(165, 9, 178, 0.52), 0 0 min(0.98vw, 19px) rgba(191, 28, 232, 0.5);
            opacity: 0;
            transition: 0.25s opacity;
        }

        &::after {
            box-sizing: border-box;
            content: '';
            height: calc(100% + 2px);
            width: 3px;
            background-color: white;
            position: absolute;
            left: -10px;
            top: -1px;
            transition: 0.25s background-color;
        }

        &:hover {
            background-color: #8E0CD0;
            border: 1px solid #8E0CD0;

            &:before {
                opacity: 1;
            }

            &:after {
                background-color: #8E0CD0;
            }
        }
    }

    &__close {
        color: white;
        font-family: Radio, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 180%;
        text-decoration: none;
        transform: skewX($skewX);

        @include to(1200) {
            font-size: 10px;
        }

        @include to(991) {
            font-size: 8px;
        }

        @include to(768) {
            font-size: 10px;
            transform: none;
        }

        @include to(576) {
            font-size: 10px;
        }
    }

    &__icon-wrap {
        width: clamp(20px, 2.9vw, 56px);
        height: clamp(20px, 2.9vw, 56px);
        margin-top: 15px;
        margin-left: -6%;
        margin-bottom: -2%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #90FFFF;
        transform: skewX($skewX);

        @include to(768) {
            width: 35px;
            height: 35px;
            margin-inline: auto;
            margin-bottom: -1%;
            transform: none;
        }

        @include to(576) {
            width: 27px;
            height: 27px;
            margin-bottom: 0;
        }
    }

    &__icon {
        font-family: Play, sans-serif;
        font-size: min(2.2vw, 43px);
        font-weight: 700;
        line-height: 115%;
        color:#90FFFF;

        @include to(768) {
            font-size: 26px;
        }

        @include to(576) {
            font-size: 22px;
        }
    }

    &__text {
        max-width: min(49.2vw, 945px);
        margin-top: min(1.2vw, 24px);
        padding-left: min(1.4vw, 27px);
        font-family: Play, sans-serif;
        font-size: min(1.5vw, 20px);
        font-weight: 400;
        line-height: 150%;
        color: white;
        transform: skewX($skewX);
        user-select: none;

        &:nth-child(3) {
            max-width: min(50.9vw, 978px);
            padding-left: 0;

            @include to(768) {
                max-width: none;
                margin-top: 10px;
            }
        }

        @include to(768) {
            max-width: none;
            padding-left: 0;
            font-size: 14px;
            line-height: 140%;
            transform: none;
        }

        @include to(576) {
            line-height: 130%;
        }
    }

    &__text_bold {
        font-weight: 700;
        border: none;
        margin: 0;
        padding: 0;
    }

    &__text_blue {
        color: #90FFFF;
        border: none;
        margin: 0;
        padding: 0;
    }
}
