@font-face {
  font-family: Play;
  font-weight: 400;
  src: url(/public/fonts/Play-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Play;
  font-weight: 700;
  src: url(/public/fonts/Play-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Radio;
  font-weight: 400;
  src: url(/public/fonts/Radiotechnika.otf);
  font-display: swap;
}
@font-face {
  font-family: TTSquares;
  font-weight: 900;
  src: url(/public/fonts/TTSquares-Black.ttf);
  font-display: swap;
}
.body {
  min-height: 100vh;
  margin: 0;
  background: url("/public/img/bg.png") #1F1F1F;
}

.admin-container {
  box-sizing: border-box;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 25px;
}
@media (max-width: 1440px) {
  .admin-container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .admin-container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .admin-container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .admin-container {
    max-width: 576px;
    padding-inline: 15px;
  }
}
@media (max-width: 576px) {
  .admin-container {
    max-width: 450px;
  }
}

.admin {
  padding-block: 25px;
}
.admin__title {
  margin-top: 25px;
  margin-bottom: 0;
  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.admin__btn {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #FFFFFF;
  transform: skewX(-16deg);
  transform-origin: bottom;
  transition: all 0.25s;
}
.admin__btn:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 min(2.34vw, 45px) rgba(255, 255, 255, 0.23), 0 0 min(1.82vw, 35px) rgba(165, 9, 178, 0.52), 0 0 min(0.98vw, 19px) rgba(191, 28, 232, 0.5);
  opacity: 0;
  transition: 0.25s opacity;
}
.admin__btn:hover {
  transform: skewX(-16deg) scale(1.05);
  background-color: #8E0CD0;
  border: 1px solid #8E0CD0;
}
.admin__btn:hover:before {
  opacity: 1;
}
.admin__btn-text {
  display: inline-block;
  font-family: Radio, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  transform: skewX(16deg);
}
.admin__form {
  margin-top: 25px;
}

.header__logo {
  height: 60px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 25px;
}

.greeting__title {
  margin: 0;
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
}
.greeting__title-nickname {
  font-weight: 700;
  color: #90FFFF;
}

.dashboard {
  margin-top: 15px;
}

.form__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}
.form__block:first-child {
  margin-top: 0;
}
.form__block:last-child {
  margin-top: 30px;
}
.form__block_horizontal {
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.form__label {
  margin: 0;
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.form label.error {
  margin-top: 5px;
  display: block;
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.form__field {
  box-sizing: border-box;
  width: min(100%, 450px);
  margin-top: 10px;
  padding: 10px 15px;
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  background: #202020;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  outline: none;
  resize: none;
}
.form__field_label {
  color: #999999;
  cursor: pointer;
}
.form__field_file {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.form__btn {
  cursor: pointer;
}
.form__checkbox-label {
  display: flex;
  align-items: center;
  color: white;
  font-family: Play, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}
.form__checkbox-label_active .form__checkbox:before {
  opacity: 1;
}
.form__checkbox {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.form__checkbox:before {
  content: "";
  width: 50%;
  height: 50%;
  background-color: #90FFFF;
  opacity: 0;
  transition: all 0.25s;
}
.form__link {
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.25s;
}
.form__link:hover {
  color: #8E0CD0;
  text-decoration: underline;
}
