.form {
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-top: 30px;
        }
    }

    &__block_horizontal {
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    &__label {
        margin: 0;
        font-family: Play, sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
    }

    label.error {
        margin-top: 5px;
        display: block;
        font-family: Play, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    &__field {
        box-sizing: border-box;
        width: min(100%, 450px);
        margin-top: 10px;
        padding: 10px 15px;
        font-family: Play, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        background: #202020;
        border: 1px solid #FFFFFF40;
        outline: none;
        resize:none;
    }

    &__field_label {
        color: #999999;
        cursor: pointer;
    }

    &__field_file {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }

    &__btn {
        cursor: pointer;
    }

    &__checkbox-label {
        display: flex;
        align-items: center;
        color: white;
        font-family: Play, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        cursor: pointer;

        &_active {
            .form__checkbox:before {
                opacity: 1;
            }
        }
    }

    &__checkbox {
        margin-right: 15px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(#ffffff, 0.25);

        &:before {
            content: '';
            width: 50%;
            height: 50%;
            background-color: #90FFFF;
            opacity: 0;
            transition: all $ui-transition-1;
        }
    }

    &__link {
        font-family: Play, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all $ui-transition-1;

        &:hover {
            color: #8E0CD0;
            text-decoration: underline;
        }
    }
}
