.header {
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    transform: skewX(-$skewX) translateX(50%);
    background: linear-gradient(180deg, #232323 0%, rgba(35, 35, 35, 0) 100%);
    z-index: 1000;

    &__wrapper {
        box-sizing: border-box;
        width: 304px;
        height: 100%;
        max-height: 1080px;
        padding-top: max(4vh, 100px);
    }

    &__logo {
        width: 425px;
        height: 148px;
        transform: skewX($skewX);
        margin-left: -47px;
    }

    &__nav {
        margin-top: 127px;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__nav-item {
        color: #FFFFFF40;
        font-family: Play, sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        list-style-type: none;
        transform: skewX($skewX);
        position: relative;
        padding-block: 10px;
        cursor: pointer;

        &:hover:not(.header__nav-item_active) {
            color: #FFFFFF80;
            background-color: rgba(255, 255, 255, 0.1);
            transform: skewX(0deg);

            &::before {
                content: '';
                height: 49px;
                width: 9px;
                background-color: #212121;
                position: absolute;
                left: 9px;
                top: 0;
            }

            .nav-item__text {
                transform: skewX($skewX);
            }
        }

        &_active {
            color: white;
            background-color: #8E0CD0;
            transform: skewX(0deg);

            &::before {
                content: '';
                height: 49px;
                width: 9px;
                background-color: #212121;
                position: absolute;
                left: 9px;
                top: 0;
            }

            .nav-item__text {
                transform: skewX($skewX);
            }
        }
    }

    &__nav-text {
        color: #FFFFFF40;

        &:hover {
            transform: skewX($skewX); //не работает?
        }
    }
}
