.reviews {

    &__header {
        display: flex;
        align-items: center;
        margin-left: 75px;
    }

    &__content {
        margin-top: 43px;
        height: 600px;
        border: 1px solid white;
        transform: skewX(-$skewX);
    }
}
