@font-face {
    font-family: Play;
    font-weight: 400;
    src: url(/public/fonts/Play-Regular.ttf);
}

@font-face {
    font-family: Play;
    font-weight: 700;
    src: url(/public/fonts/Play-Bold.ttf);
}

@font-face {
    font-family: Radio;
    font-weight: 400;
    src: url(/public/fonts/Radiotechnika.otf);
}

@font-face {
    font-family: TTSquares;
    font-weight: 900;
    src: url(/public/fonts/TTSquares-Black.ttf);
}