.project {
    margin-top: clamp(25px, min(3.12vw, 5.55vh), 60px);
    display: none;

    &__content {
        display: flex;
        gap: 10px;
        margin-right: min(6vw, 100px);
        padding-left: clamp(25px, 7vw, 75px);
        transform: skewX(-$skewX);
        transform-origin: top;

        @include to(768) {
            flex-direction: column;
            gap: 0;
            margin-right: 0;
            padding-left: 0;
            transform: none;
        }
    }

    &__img-wrap {
        width: min(300px, min(15.62vw, 27.77vh));
        max-height: min(min(35vw, 62.5vh), 675px);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        overflow: hidden;

        @include to(768) {
            width: clamp(350px, 65vw, 500px);
            max-height: clamp(150px, 30vw, 225px);
            position: relative;
            margin-right: -15px;
            margin-left: auto;
            transform: skewX(-$skewX);
            transform-origin: bottom;
            z-index: 25;
        }
    }

    &__img {
        height: 100%;
        flex: 1;
        transform: skewX($skewX);

        @include to(768) {

        }
    }

    &__wrap {
        border: 1px solid white;
        padding: min(min(4.1vw, 7.4vh), 80px) min(2.3vw, 45px) min(min(2.08vw, 3.7vh), 120px) min(3.9vw, 75px);

        @include to(768) {
            box-sizing: border-box;
            width: clamp(335px, 65vw, 485px);
            margin-top: 30px;
            margin-left: auto;
            padding: 0 0 0 15px;
            border: none;

        }
    }

    &__title {
        font-family: Radio, sans-serif;
        font-size: min(min(1.4vw, 2.59vh), 28px);
        font-weight: 400;
        line-height: 100%;
        color: white;
        transform: skewX($skewX);

        @include to(768) {
            text-align: center;
            font-size: clamp(18px, 3.12vw, 24px);
            transform: none;
        }
    }

    &__text {
        margin-top: clamp(10px, min(2vw, 3.7vh), 40px);
        font-family: Play, sans-serif;
        font-size: min(min(1.04vw, 1.85vh), 20px);
        font-weight: 400;
        line-height: 150%;
        color: white;
        transform: skewX($skewX);

        @include to(768) {
            margin-top: 15px;
            font-size: clamp(12px, 2.08vw, 16px);
            transform: none;
        }

        &:nth-of-type(1) {
            color: #90FFFF;
            font-weight: 700;
        }
    }

    &__btn {
        max-width: min(7.55vw, 145px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Play, sans-serif;
        font-size: min(min(1.3vw, 2.31vh), 25px);
        font-weight: 400;
        line-height: 150%;
        color: white;
        background-color: #8E0CD0;
        border: 1px solid white;

        &:hover {
            box-shadow: 0 0 min(45px, 2.34vw) rgba(255, 255, 255, 0.23), 0 0 min(1.82vw, 35px) rgba(165, 9, 178, 0.52), 0 0 min(0.98vw, 19px) rgba(191, 28, 232, 0.5);
        }
    }

    &__btn-text {
        transform: skewX($skewX) rotate(calc(-1 * calc(90deg - $skewX)));
        white-space: nowrap;

        @include to(768) {
            transform: none;
        }
    }
}
