@use 'sass:math';

.services {
    &__header {
        display: flex;
        align-items: center;
        margin-left: clamp(30px, 3.9vw, 75px);

        @include from(1921) {
            margin-left: clamp(30px, 3.9vw, 100px);
        }

        @include to(768) {
            margin-left: clamp(25px, 19.53vw, 135px);
        }

        @include to(450) {
            margin-left: 15px;
        }
    }

    &__wrap {
        height: 100%;
        display: none;

        &_active {
            display: block;
        }
    }

    &__title {
        font-family: TTSquares, sans-serif;
        font-size: clamp(36px, min(5.2vw, 9.25vh), 100px);
        font-weight: 900;
        line-height: 100%;
        color: transparent;
        -webkit-text-stroke: 1px rgba(#FFFFFF, 1);
        margin-inline: clamp(10px, 1.3vw, 25px) clamp(15px, 2.08vw, 40px);

        @include from(1921) {
            font-size: clamp(36px, min(5.2vw, 9.25vh), 133px);
            margin-inline: clamp(10px, 1.3vw, 33px) clamp(15px, 2.08vw, 53px);
        }

        @include to(768) {
            margin-left: 0;
            font-size: clamp(42px, 14.49vw, 75px);
        }
    }

    &__line {
        margin-top: clamp(8px, 0.88vw, 17px);
        border-top: 2px solid #FFFFFF;
        width: 100%;
        box-shadow: 0 0 clamp(12px, 2.8vw, 54px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 35px) #A509B2, 0 0 clamp(3px, 0.78vw, 15px) #BF1CE8;

        @include from(1921) {
            margin-top: clamp(8px, 0.88vw, 22px);
            box-shadow: 0 0 clamp(12px, 2.8vw, 72px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 46px) #A509B2, 0 0 clamp(3px, 0.78vw, 20px) #BF1CE8;
        }

        @include to(768) {
            margin-right: -15px;
        }
    }

    &__list {
        margin-top: clamp(15px, min(3.12vw, 5.55vh), 60px);
        padding-right: clamp(25px, 4.6vw, 90px);
        padding-left: clamp(25px, 7vw, 75px);
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-template-rows: repeat(2, min(min(16.66vw, 29.62vh), 320px));
        gap: clamp(10px, min(1.04vw, 1.85vh), 20px);
        transform: skewX(-$skewX);
        transform-origin: top;

        @include from(1921) {
            margin-top: clamp(15px, min(3.12vw, 5.55vh), 80px);
            padding-right: clamp(25px, 4.6vw, 117px);
            padding-left: clamp(25px, 7vw, 179px);
            grid-template-rows: repeat(2, min(min(16.66vw, 29.62vh), 426px));
            gap: clamp(10px, min(1.04vw, 1.85vh), 26px);
        }

        @include to(768) {
            display: none;
        }
    }

    &__list_sm {
        display: none;
        position: relative;
        transform: skewX(-$skewX);
        margin-top: 50px;
        padding-inline: 10%;
        margin-inline: 0 -8px;
        z-index: 10;

        @include to(768) {
            display: block;
        }
    }

    &__swiper {
        overflow: visible !important;
    }

    &__list-item {
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: bottom;
        border: 1px solid white;
        overflow: hidden;
        transition: transform $ui-transition-1, box-shadow $ui-transition-1, border $ui-transition-1 !important;
        cursor: pointer;

        &:hover {
            border: 4px solid #90FFFF;
            box-shadow: 0 0 clamp(12px, 2.8vw, 54px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 35px) #A509B2, 0 0 clamp(5px, 0.98vw, 19px) #BF1CE8;
            z-index: 999;

            @include from(1921) {
                border: 5px solid #90FFFF;
                box-shadow: 0 0 clamp(12px, 2.8vw, 72px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 46px) #A509B2, 0 0 clamp(5px, 0.98vw, 25px) #BF1CE8;
            }
        }

        &:not(&_non-blur):hover {
            .services__list-img {
                filter: blur(0);
            }

            .services__list-text {
                opacity: 0;
            }
        }
    }

    &__list-item_sm {
        height: min(min(16.92vw, 30vh), 433px) !important;
        box-sizing: border-box;
        transition-property: all !important;

        @include to(768) {
            height: clamp(275px, 42.3vw, 325px) !important;
        }

        &:hover {
            border: clamp(4px, 0.57vw, 11px) solid #90FFFF;
            box-shadow: 0 0 clamp(12px, 2.8vw, 54px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 35px) #A509B2, 0 0 clamp(5px, 0.98vw, 19px) #BF1CE8;
            z-index: 999;

            @include from(1921) {
                border: clamp(4px, 0.57vw, 14px) solid #90FFFF;
                box-shadow: 0 0 clamp(12px, 2.8vw, 72px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 46px) #A509B2, 0 0 clamp(5px, 0.98vw, 25px) #BF1CE8;
            }
        }
    }

    &__list-img {
        width: 167%;
        min-height: 100%;
        flex-shrink: 0;
        filter: blur(9px);
        transform: skewX($skewX);
        transition: $ui-transition-1 filter;
    }

    &__list-text {
        max-width: 85%;
        position: absolute;
        color: white;
        text-align: center;
        font-family: Radio, sans-serif;
        font-size: min(min(1.04vw, 1.85vh), 20px);
        font-weight: 400;
        line-height: 145%;
        transform: skewX($skewX);
        transition: $ui-transition-1 opacity;

        @include from(1921) {
            font-size: min(min(1.04vw, 1.85vh), 26px);
        }

        @include to(768) {
            font-size: clamp(18px, 3.125vw, 24px);
        }
    }

    &__list-line {
        display: none;
        width: min(90%, 450px);
        margin-inline: auto;
        margin-top: 30px;
        border-top: 2px solid #FFFFFF;
        box-shadow: 0 0 clamp(12px, 2.8vw, 54px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 35px) #A509B2, 0 0 clamp(3px, 0.78vw, 15px) #BF1CE8;

        @include from(1921) {
            width: min(90%, 600px);
            box-shadow: 0 0 clamp(12px, 2.8vw, 72px) #FFFFFF, 0 0 clamp(8px, 1.8vw, 46px) #A509B2, 0 0 clamp(3px, 0.78vw, 20px) #BF1CE8;
        }

        @include to(768) {
            display: block;
        }
    }

    &__btn-wrap {
        display: none;
        margin-top: 25px;
        text-align: center;
        transform: skewX(-$skewX);
        transform-origin: top;

        @include to(768) {
            display: block;
        }
    }

    &__btn {
        width: min(75%, 300px);
        position: relative;
        border: 1px solid #fff;
        font-family: Play, sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 115%;
        color: #FFFFFF;
        background: transparent;
        transition: $ui-transition-1 background-color;

        @include from(1921) {
            width: min(75%, 400px);
        }

        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0 min(2.34vw, 45px) rgba(255, 255, 255, 0.23), 0 0 min(1.82vw, 35px) rgba(165, 9, 178, 0.52), 0 0 min(0.98vw, 19px) rgba(191, 28, 232, 0.5);
            opacity: 0;
            transition: $ui-transition-1 opacity;

            @include from(1921) {
                box-shadow: 0 0 min(2.34vw, 60px) rgba(255, 255, 255, 0.23), 0 0 min(1.82vw, 46px) rgba(165, 9, 178, 0.52), 0 0 min(0.98vw, 25px) rgba(191, 28, 232, 0.5);
            }
        }

        &:hover {
            background-color: #8E0CD0;
            border: 1px solid #8E0CD0;

            &:before {
                opacity: 1;
            }
        }
    }

    &__btn-text {
        display: inline-block;
        transform: skewX($skewX);
        padding-block: 10px;
        cursor: pointer;
    }
}
