@use 'sass:math';

$cardHeight: 320px;
$cardGap: 20px;
$margin: math.tan($skewX)*($cardHeight+$cardGap);
$imgOffset: math.tan($skewX)*$cardHeight;

.services {
    display: flex;
    align-items: center;
    margin-left: 75px;

    &__title {
        font-family: TTSquares, sans-serif;
        font-size: 100px;
        font-weight: 900;
        line-height: 90px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(#FFFFFF, 1);
        margin-inline: 25px 38px;
    }

    &__line {
        margin-top: 17px;
        border-top: 2px solid #FFFFFF;
        width: 100%;
        box-shadow: 0 0 54px #FFFFFF, 0 0 35px #A509B2, 0 0 15px #BF1CE8;
    }

    &__list {
        margin-top: 60px;
        padding-right: 135px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-template-rows: repeat(2, $cardHeight);
        gap: $cardGap;
    }

    &__list-item {
        box-sizing: content-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skewX(-$skewX);
        border: 1px solid white;
        overflow: hidden;
        transition: all 0.25s;

        &:nth-last-child(-n+3) {
            left: -$margin;
        }

        &:hover {
            border: 11px solid #90FFFF;
            box-shadow: 0 0 54px #FFFFFF, 0 0 35px #A509B2, 0 0 19px #BF1CE8;
            transform: skewX(-$skewX);
            z-index: 999;
        }
    }

    &__list-img {
        max-width: 125%;
        filter: blur(9px);
        transform: skewX($skewX);
    }

    &__list-text {
        position: absolute;
        color: white;
        font-family: Radio, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 19px;
        transform: skewX($skewX);
    }
}
